@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #B00000;
    --accent-color: #C02F18;
    --secondary-color: #ff5977;
    --background-color: #121212;
    --text-color: #f0f0f0;
    --link-color: #B00000;
    --link-hover-color: #C02F18;
    --visited-color: #808080;
    --divider-color: #444444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    color: var(--primary-color);
}


body {
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    max-width: 800px;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

a:visited {
    color: var(--visited-color);
}

a:active {
    color: var(--link-hover-color);
}

.menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    color: var(--primary-color);
}

.menu li {
    margin: 0.5rem 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo-container {
    display: flex;
    user-select: none;
    align-items: center;
    gap: 1.14rem;
}

.logo {
    fill: var(--primary-color);
    width: 50px;
    height: 50px;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

.post-summary {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--divider-color);
    margin: 1.5rem 0;
    border: none;
}